.lp2021a .header + .wrap {
  margin-top: 74px;
}

.bg-curve-container {
  min-height: 160px;
  position: relative;
}

.bg-curve-container .container {
  position: relative;
  z-index: 3;
}

.bg-curve-top,
.bg-curve-top-blue,
.bg-curve-top-white,
.bg-curve-top-powder-blue,
.bg-curve-top-mint1,
.bg-curve-top-mint2,
.bg-curve-top-mint3 {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.bg-curve-bottom,
.bg-curve-bottom-blue,
.bg-curve-bottom-white,
.bg-curve-bottom-powder-blue,
.bg-curve-bottom-mint1,
.bg-curve-bottom-mint2,
.bg-curve-bottom-mint3 {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

/* Detail Tabs */

.cmp-21a-detail-tabs .tab-wrap {
  -webkit-transition: 0.3s box-shadow ease;
  transition: 0.3s box-shadow ease;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  list-style: none;
  @apply my-10;
  @apply shadow-lg;
}

.cmp-21a-detail-tabs .tab-wrap:hover {
  @apply shadow-xl;
}

.cmp-21a-detail-tabs .tab {
  display: none;
}

.cmp-21a-detail-tabs .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1),
.cmp-21a-detail-tabs .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2),
.cmp-21a-detail-tabs .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3),
.cmp-21a-detail-tabs .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4),
.cmp-21a-detail-tabs .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5),
.cmp-21a-detail-tabs .tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6),
.cmp-21a-detail-tabs .tab:checked:nth-of-type(7) ~ .tab__content:nth-of-type(7),
.cmp-21a-detail-tabs .tab:checked:nth-of-type(8) ~ .tab__content:nth-of-type(8),
.cmp-21a-detail-tabs .tab:checked:nth-of-type(9) ~ .tab__content:nth-of-type(9) {
  opacity: 1;
  -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  text-shadow: 0 0 0;
}

.cmp-21a-detail-tabs .tab:last-of-type + label {
  border-right-width: 0;
}

.cmp-21a-detail-tabs .tab:checked + label {
  background-color: #fff;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}

.cmp-21a-detail-tabs .tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}

.cmp-21a-detail-tabs .tab + label {
  box-shadow: 0 -1px 0 #eee inset;
  border-right: 1px solid #dddddd;
  cursor: pointer;
  display: block;
  text-decoration: none;
  /*-webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;*/
  text-align: center;
  background-color: #f2f2f2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  box-sizing: border-box;
  padding: 15px 30px;
  border-top-width: 1px;
}

.cmp-21a-detail-tabs .tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}

.cmp-21a-detail-tabs .tab__content {
  @apply p-10 bg-white;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.cmp-21a-detail-tabs .tab__content p:last-child {
  margin-bottom: 0;
}

/*===== CAP Wheel Codefresh Argo Platform =====*/

#cap-wheel-source > div {
  @apply flex-grow-0;
  @apply flex-shrink-0;
  cursor: pointer;
}

#cap-wheel-source a {
  font-size: 0;
  line-height: 0;
}

#cap-wheel-source img {
  width: 100%;
}

#cap-wheel-source > div:nth-child(4n+1) {
  width: calc(99% / 512 * 120);
}

#cap-wheel-source > div:nth-child(4n+2) {
  width: calc(99% / 512 * 138);
}

#cap-wheel-source > div:nth-child(4n+3) {
  width: calc(99% / 512 * 138);
}

#cap-wheel-source > div:nth-child(4n+4) {
  width: calc(99% / 512 * 120);
}

.cap-wheel-list-item {
  @apply text-lg;
}

.summary-none summary::-webkit-details-marker {
  display: none;
}

.summary-none summary {
  cursor: pointer;
  list-style: none;
}

/*===== Videos =====*/

.bl-video-container embed,
.bl-video-container iframe,
.bl-video-container object,
.bl-video-container .wp-video-shortcode {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bl-video-container {
  height: 0;
  /*overflow: hidden;*/ /* not sure why it was originally added, but it interferes with drop shadows, so i removed it */
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

/*===== Misc =====*/

/* deprecated but might be in use */
.bl-pt-40 {
  @apply pt-40;
}
