
/*=====Pricing Plan Matrix=====*/

.cmp-21a-pricing .plan-list {
  @apply w-full;
}

.cmp-21a-pricing .plan-list-item {
  @apply flex-grow-0;
  @apply flex-shrink-0;
  max-width: 100%;
  width: calc(1184px / 3);
}

.cmp-21a-pricing .plan-list-item.w-full {
  width: 100%;
}

.cmp-21a-pricing .plan-card {
  @apply mb-7;
  @apply mx-2;
  @apply p-4;
  @apply shadow-xl;
  @apply text-left;
}

.cmp-21a-pricing .plan-badge {
  @apply font-bold;
  @apply font-display;
  @apply inline-block;
  @apply mb-3.5;
  @apply px-3;
  @apply py-0.5;
  @apply rounded-lg;
  @apply text-oxford-blue;
  @apply text-sm;
}

.cmp-21a-pricing .plan-title {
  @apply font-display;
  @apply mb-6;
  @apply mt-0;
  @apply text-4xl;
}

.cmp-21a-pricing .bg-oxford-blue .plan-title {
  @apply text-white;
}

.cmp-21a-pricing .plan-starting-from {
  @apply inline-block;
  @apply font-display;
  @apply mb-1.5;
  @apply text-sm;
}

.cmp-21a-pricing .price-see-how {
  @apply underline;
  @apply text-gray-600;
  @apply text-xs;
}

.cmp-21a-pricing .price-link-to-calculator {
  cursor: pointer;
}

.cmp-21a-pricing .price-wrapper {
  @apply mb-6;
}

.cmp-21a-pricing .price-delimiter {
  @apply font-display;
  @apply text-3xl;
}
.cmp-21a-pricing .price-amount,
.cmp-21a-pricing .price-amount a {
  @apply font-display;
  @apply text-2xl;
}

.cmp-21a-pricing .bg-oxford-blue .price-delimiter,
.cmp-21a-pricing .bg-oxford-blue .price-amount,
.cmp-21a-pricing .bg-oxford-blue .price-amount a {
  
}

.cmp-21a-pricing .price-frequency {
  @apply font-display;
  @apply text-lg;
}

.cmp-21a-pricing .plan-callout {
  @apply font-black;
  @apply mb-4;
  @apply mt-6;
  @apply text-lg;
}

.cmp-21a-pricing .bg-oxford-blue .plan-callout {
  @apply text-white;
}

.cmp-21a-pricing .plan-callout em {
  @apply not-italic;
}

.cmp-21a-pricing .plan-feature-list {
  @apply block;
  @apply mb-10;
  @apply pl-0;
}

.cmp-21a-pricing .plan-feature-list li {
  @apply block;
  @apply list-none;
  @apply mb-4;
  @apply text-lg;
}

.cmp-21a-pricing .bg-oxford-blue .plan-feature-list li {
  @apply text-white;
}

.cmp-21a-pricing .all-include-list > div {
  //@apply mb-4 mr-3 px-6 py-2 inline-block bg-nk-blue-marine text-base rounded-xl;
  @apply flex-1 p-6 text-base text-white;
  background: rgba(255,255,255,.2);
  @screen md {
    @apply px-6;
  }
}
.all-include-plans {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  @screen md {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*=====Testimonial Trio=====*/

.cmp-21a-testimonial-trio .testimonial-trio-card {
  @apply flex;
  @apply flex-col;
  @apply h-full;
  @apply p-10;
  @apply rounded-lg;
  @apply shadow-xl;
}

.cmp-21a-testimonial-trio .testimonial-trio-card-wrapper {
  @apply px-6;
  @apply pb-6;
}

.cmp-21a-testimonial-trio .testimonial-trio-card-wrapper:nth-of-type(1) .testimonial-trio-card {
  @apply bg-nk-primary;
  @apply text-white;
}

.cmp-21a-testimonial-trio .testimonial-trio-card-wrapper:nth-of-type(2) .testimonial-trio-card {
  @apply bg-green-alt-1;
  @apply text-white;
}

.cmp-21a-testimonial-trio .testimonial-trio-card-wrapper:nth-of-type(3) .testimonial-trio-card {
  @apply bg-green-alt-2;
  @apply text-white;
}

.cmp-21a-testimonial-trio .testimonial-trio-quote {
  @apply mb-2;
}

.cmp-21a-testimonial-trio .testimonial-trio-attribution {
  @apply mt-auto;
  @apply text-sm;
}

.cmp-21a-testimonial-trio .testimonial-trio-name {
  @apply font-bold;
}

.cmp-21a-testimonial-trio .testimonial-trio-title {
  @apply font-normal;
}

.cmp-21a-testimonial-trio .testimonial-trio-company {
  @apply text-xs;
}

/*=====Pricing Calculator=====*/

.cf-details-tag summary::-webkit-details-marker {
  display: none;
}

.cf-details-tag summary {
  @apply font-bold;
  @apply font-display;
  @apply text-nk-primary;
  @apply text-xl;
  cursor: pointer;
  list-style: none
}

.cf-details-tag[open] i { 
  transform: rotate(180deg);
}

/*=====Pricing Calculator=====*/

.page-pricing .text-white .faq a {
  color: #ffffff;
  text-decoration: underline;
}

// ******************************************
// * Switch
// ******************************************

.switch-button {
  @apply bg-gray-200 mx-auto ml-4;

  width: 260px;
  height: 30px;
  position: relative;
  text-align: center;
  will-change: transform;
  margin: 0 auto 15px;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;

  @screen lg {
    margin: 0;
  }

  button {
    @apply text-nk-primary text-xs text-nk-primary font-bold;

    display: inline-block;
    background: none;
    width: 49%;
    height: 100%;
    position: relative;
    border: 0;
    transition: color 0.3s ease;
    padding-bottom: 2px;

    &:hover {
      @apply text-dark;
    }

    &:focus {
      outline: none;
    }
  }

  .active {
    @apply text-dark bg-nk-primary absolute;

    border-radius: 25px;
    left: 1px;
    top: 1px;
    width: 49%;
    height: calc(100% - 2px);
    z-index: -1;
    transition: left 0.3s ease-out;

    &-case,
    &-case:hover {
      @apply text-white;
    }
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }
}

// ******************************************
// * Plan
// ******************************************

.plan-title {
  @apply text-dark font-bold text-center;

  padding-top: 5px;
  margin-bottom: 13px;

  @screen lg {
    @apply text-left;
  }
}

.plan {
  @apply mt-20 mx-auto pb-4;

  &__item {
    @apply shadow-xl rounded-lg bg-white h-full relative flex flex-col w-full m-auto p-8;
  }

  &__title {
    @apply font-bold text-center mb-4;

    @screen lg {
      @apply text-left;
    }
  }

  &__steps {
    @apply font-display text-sm;

    #totalSteps-basic,
    #totalSteps-pro {
      @apply text-nk-primary font-bold;
    }
  }

  &__range-list {
    @apply list-none p-0;
  }

  &__range-item {
    @apply mt-4;
  }

  &__range-label {
    @apply relative font-display text-body-light flex justify-between text-center text-sm font-bold z-10;

    margin-bottom: -18px;
  }

  &__resources {
    font-size: 13px;
    font-weight: normal;
    text-align: right;
    padding-left: 60px;

    @screen md {
      padding-left: 0;
    }

    &-1 {
      @apply text-body;

      display: block;
      text-transform: uppercase;
    }

    &-2 {
      @apply text-body-light;

      display: block;
      line-height: 1.2;
    }
  }

  &__value {
    @apply font-bold font-display text-nk-primary;

    font-size: 45px;
    line-height: 36px;
    position: relative;
    display: inline-block;
  }

  &__dollar-sign {
    @apply text-nk-primary;

    font-weight: normal;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    top: -2px;
    left: -10px;
    position: absolute;
  }

  &__billing {
    @apply text-sm text-body-light;
  }

  &__price {
    @apply border-b border-light;

    text-align: center;

    @screen lg {
      text-align: left;
    }

    &.is-free {
      .plan__value {
        @apply text-nk-primary;
      }

      .plan__dollar-sign,
      .plan__billing {
        visibility: hidden;
      }
    }
  }

  &__contact {
    height: 43px;

    a {
      @apply text-nk-primary font-bold;

      font-size: 23px;
    }
  }

  &__feats {
    @apply list-none p-0 font-display mb-8;
  }

  &__feats-item {
    @apply border-b border-light;

    font-size: 14px;
    padding: 3px 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__featsBlock {
    h3 {
      font-size: 16px;
      margin-bottom: 8px;
      text-align: left;
    }

    p {
      @apply text-sm;
    }
  }

  &__range {
    @apply mb-8;

    &#{&}--contact {
      @screen lg {
        margin-top: 30px;
      }

      span {
        @apply font-display font-bold text-sm text-nk-primary;
      }
    }
  }
}

// ******************************************
// * Ribon
// ******************************************

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;

  span {
    @apply text-white bg-nk-primary shadow-lg;

    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: linear-gradient(lighten($primary, 10%) 0%, $primary 100%);
    position: absolute;
    top: 19px;
    right: -21px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      z-index: -1;
      border-left: 3px solid theme("colors.primary.DEFAULT");
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid theme("colors.primary.DEFAULT");
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-right: 3px solid theme("colors.primary.DEFAULT");
      border-bottom: 3px solid transparent;
      border-top: 3px solid theme("colors.primary.DEFAULT");
    }
  }
}
